
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font: size 1rem; ;
    background-color: aliceblue;
}

header{
    background-color: whitesmoke;
}

p{
    padding: 8px;
    margin: 25px;
    background-color: #33475b;
    border-radius: 10px;
    color: white; 
}

h1{
    padding: 8px;
    margin: 25px;
    background-color: #33475b;
    border-radius: 10px;
    color: white;
}
button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius:5px;
    background-color: aqua;
}

button:hover{
    background-color: rgb(255, 255, 255);
}
.container{
    width: 95%;
    margin: auto;
}

.box{
    display: flexbox;
    justify-content: space-between;
    width: 20%;
    margin: auto;
    padding: 20px 0;
    
}

.box button{
    font-family:  'Open Sans', sans-serif;

}

.box{
    width: 20%;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #4b9ff3;
    box-shadow: 0 2px 4px 0 rgba(0,0,0.5);
}

.box textarea{
width: 100%;
border-radius: 5px;
font-family:  'Open Sans', sans-serif;
border: 1px solid lightgray;
}

.box button{
    width: fit-content;
}


.container1{
    display: flexbox;
    width: fit-content;
    word-wrap: break-word;
}


.container1 div{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 10px;
    border-radius: 5px;
    display: flexbox;
    background-color: rgb(157, 211, 247);
    box-shadow: black;
}


