
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Open Sans', sans-serif;
    font: size 1rem; ;
    background-color: aliceblue;
}

header{
    background-color: whitesmoke;
}

p{
    padding: 8px;
    margin: 25px;
    background-color: #33475b;
    border-radius: 10px;
    color: white; 
}

h1{
    padding: 8px;
    margin: 25px;
    background-color: #33475b;
    border-radius: 10px;
    color: white;
}
button{
    padding: 8px;
    outline: none;
    cursor: pointer;
    border: 1px solid lightgray;
    border-radius:5px;
    background-color: aqua;
}

button:hover{
    background-color: rgb(255, 255, 255);
}
.container{
    width: 95%;
    margin: auto;
}

.box{
    
    justify-content: space-between;
    width: 50%;
    margin: auto;
    padding: 20px 0;
    flex-wrap: wrap;
    
}

.box button{
    font-family:  'Open Sans', sans-serif;

}

.box{
    width: 20%;
    margin: auto;
    padding: 20px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0.5);
    flex-wrap: wrap;
}

.box textarea{
width: 100%;
border-radius: 5px;
font-family:  'Open Sans', sans-serif;
border: 1px solid lightgray;
}

.box button{
    width: fit-content;
}


.container1{

    display:inline-block;

    word-wrap: break-word;
}


.container1 div{
    width: 370px;
    height: 200px;
    word-wrap: break-word;
    margin: 5px;

    background-color: rgb(20, 221, 97);
    box-shadow: black;
    
}



.flashcard-word {
    text-decoration: none;
    transition: text-decoration 0.3s ease;
}

.flashcard-word:hover {
    animation: shake 0.5s;
    text-decoration: underline;
}

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}